.header-container{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    border-radius: 3px;
    min-height: 120px;
    max-width: 370px;
    color: rgb(209, 212, 221);
    background-color: #2A2F47;
    font-weight: bold;
    font-size: 30px;
    text-align: end;
    word-break: break-word;
    margin: 0 auto;
    padding: 0 15px;
}

.header-item{
    text-align: end;
}